{{ partial "header.html" . }}

<div class="introduction">
  <div class="dark-bg">
    <div class="intro-content container">
      <div class="row">
        <div class="col-sm-6 text-xs-right lead">
          We want to encourage fun hacking by Fairbanks Hackers.
          This website and the issue tracker associated
        </div>
        <div class="col-sm-6 text-xs-right">
          <img class="img-responsive" src="holder.js/300x300" />
        </div>
      </div>
    </div>
  </div>
</div>

testing

{{ partial "more-info.html" . }}
{{ partial "projects.html" . }}
{{ partial "footer.html" . }}
