<div class="more-info container-fluid">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card card-outline-primary text-xs-center">
        <div class="card-block">
          <h1 class="card-icon text-xs-center"><i class="fa fa-lightbulb-o fa-fw"></i></h1>
          <h4 class="card-title">Needs</h4>

          <p class="card-text">
            Creative space for tech folks in Fairbanks to connect around fun and meaningful challenges.
            <br/>
            Publicly collect and iterate on ideas and challenges
            <br/>
            Connect fairbanks hackers to challenges in their local area
          </p>
        </div>
      </div>
      <div class="card card-outline-primary text-xs-center">
        <div class="card-block">
          <h1 class="card-icon text-xs-center"><i class="fa fa-gear fa-fw"></i></h1>
          <h4 class="card-title">How</h4>

          <p class="card-text">
              Publicly curated issues and developed solution
              Do this publicly and openly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
