<div class="introduction">
  <div class="dark-bg">
    <div class="intro-content container">
      <div class="row">
        <div class="col-sm-6 text-xs-right lead">
          {{ .Content }}
        </div>
        <div class="col-sm-6 text-xs-right">
          <img class="img-responsive" src="{{ .Params.image_url }}" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-xs-center lead">
          {{ partial "event.html" }}
        </div>
      </div>
    </div>
  </div>
</div>
