<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <title>{{ .Site.Title }}</title>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "nav.html" . }}
