<div class="projects">
  <div class="container">
    <div class="header text-xs-center">
      <h1>Projects</h1>
    </div>

    <div class="card-columns">
      {{ range ( where .Data.Pages "Type" "project" ) }}
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ .Params.image_url }}" alt="Card image cap">
        <div class="card-block">
          <h2 class="card-title">{{ .Title }}</h2>
          <p class="card-text">
            {{ .Description }}
          </p>
          <a href="{{ .Permalink }}">More info...</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
